

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: #F7D1BA;
}

h1{
    font-family: 'Pacifico', cursive;
}

h5{
    font-family: 'Pacifico', cursive;
}


.navbar{
    color: #e5eaf5;
}

.jumbotron{
    background-color: #D49A89;
    color: #557571;
    margin: 15px;
    padding: 20px;
}

#contact-list{
    width: 300px;
}

.html5-picture{
    width: 100%;
object-fit: cover;
}

.css-picture{
    width: 100%;
    object-fit: cover;
}


.js-picture{
    width: 100%;
    object-fit: cover;
}

.col-md-4{
    text-align: center;
    height: 400px;
    word-wrap: break-word;
}

.card{
    display:inline-block;
   
}

.btn {
    background-color: #F7C331;
    border-color: #F7C331;
}

.media{
    margin: 40px;
    padding: 40px;
    border-style: solid;
    border-color: #D49A89;
    color: #557571;

}

#skills{
    text-align: center;
    text-decoration: underline;
}


footer{
    text-align: center;
}

.form-group{
    width: 400px;
}

.card{
    margin: 20px;
}

