

body{
    background-color: #e5eaf5;
}

.jumbotron{
    background-color: #e5eaf5;
    color:#494D5F;
}

.html5-picture{
    width: 100%;
object-fit: cover;
}

.css-picture{
    width: 100%;
    object-fit: cover;
}

.js-picture{
    width: 100%;
    object-fit: cov;
}

.col-md-4{
    text-align: center;
}

#skills{
    text-align: center;
    text-decoration: underline;
}



