

body{
    background-color: #F4F4F4;
}

h1{
    font-family: 'Pacifico', cursive;
}

.navbar{
    color: #e5eaf5;
}

.jumbotron{
    background-color: #D49A89;
    color: #F7D1BA;
}

.html5-picture{
    width: 100%;
object-fit: cover;
}

.css-picture{
    width: 100%;
    object-fit: cover;
}

.js-picture{
    width: 100%;
    object-fit: cov;
}

.col-md-4{
    text-align: center;
    height: 400px;
    word-wrap: break-word;
}

.card{
    display:inline-block;
   
}

.btn {
    background-color: #F7C331;
    border-color: #F7C331;
}

#skills{
    text-align: center;
    text-decoration: underline;
}

footer{
    text-align: center;
}


